body {
    background-color: #927df1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.arrow {
    height: 150px;
    cursor: pointer;
}

/* This setting also works
.arrow.right {
    rotate: 180deg;
}
*/

.right {
    transform: rotate(180deg);
}

.frame {
    height: 500px;
    width: 800px;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: all 1s ease;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom {
    display: flex;
    gap: 15px;
}

.button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}

.current-button {
    background-color: white;
}